.material-icons,
.icn {
  &.icn--xxs {
    font-size: 0.88rem;
  }

  &.icn--xs {
    font-size: 1rem;
  }

  &.icn--sm {
    font-size: 1.5rem
  }

  &.icn--md {
    font-size: 2rem;
  }

  &.icn--lg {
    font-size: 2.5rem;
  }

  &.icn--xl {
    font-size: 3rem;
  }

  &.icn--xxl {
    font-size: 4rem;
  }
}

.icn {
  line-height: 1;
  font-size: $font-size-icon;
  font-family: $font-family-icon;
  display: inline-block;
  vertical-align: middle;
}

.icn__badminton {
  @include icon('\e900');
}


.icn__triathlon {
  @include icon('\e901');
}


.icn__trampoline {
  @include icon('\e902');
}


.icn__volleyball {
  @include icon('\e903');
}


.icn__tir-a-l-arc {
  @include icon('\e904');
}


.icn__tir {
  @include icon('\e905');
}


.icn__tennis {
  @include icon('\e906');
}


.icn__taekwondo {
  @include icon('\e907');
}


.icn__equitation {
  @include icon('\e908');
}


.icn__pentathlon {
  @include icon('\e909');
}


.icn__lutte {
  @include icon('\e90a');
}


.icn__judo {
  @include icon('\e90b');
}


.icn__hockey {
  @include icon('\e90c');
}


.icn__pinpong {
  @include icon('\e90d');
}


.icn__handball {
  @include icon('\e90e');
}


.icn__halterophilie {
  @include icon('\e90f');
}


.icn__gym {
  @include icon('\e910');
}


.icn__football {
  @include icon('\e911');
}


.icn__escrime {
  @include icon('\e912');
}


.icn__velo {
  @include icon('\e913');
}


.icn__boxe {
  @include icon('\e914');
}


.icn__basketball {
  @include icon('\e915');
}


.icn__athletisme {
  @include icon('\e916');
}
