// @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Oswald:300,400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

@font-face {
 font-family: "icomoon";
 src: url("/static/fonts/Icomoon/icomoon.svg") format("svg"),
        url("/static/fonts/Icomoon/icomoon.woff") format("woff"),
        url("/static/fonts/Icomoon/icomoon.ttf") format("ttf"),
        url("/static/fonts/Icomoon/icomoon.eot") format("eot");
}

@font-face {
  font-family: 'circular';
  src: url('/static/fonts/Circular/CircularStd-Black.otf') format('otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'circular';
  src: url('/static/fonts/Circular/CircularStd-BlackItalic.otf') format('otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'circular';
  src: url('/static/fonts/Circular/CircularStd-Bold.otf') format('otf');
  font-weight: blod;
  font-style: normal;
}

@font-face {
  font-family: 'circular';
  src: url('/static/fonts/Circular/CircularStd-BoldItalic.otf') format('otf');
  font-weight: blod;
  font-style: italic;
}

@font-face {
  font-family: 'circular';
  src: url('/static/fonts/Circular/CircularStd-Medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'circular';
  src: url('/static/fonts/Circular/CircularStd-MediumItalic.otf') format('otf');
  font-weight: normal;
  font-style: italic;
}
