.p-xxs {
  padding: 2px 4px;
}

.p-xs {
  padding: 5px;
}

.p-sm {
  padding: 10px;
}

.p-md {
  padding: 20px;
}

.p-lg {
  padding: 30px;
}

.p-xl {
  padding: 40px;
}

.p-xxl {
  padding: 50px;
}

.p-n {
  padding: 0 !important;
}


.p-l-none {
  padding-left: 0;
}

.p-l-xs {
  padding-left: 5px;
}

.p-l-sm {
  padding-left: 10px;
}

.p-l {
  padding-left: 15px;
}

.p-l-md {
  padding-left: 20px;
}

.p-l-lg {
  padding-left: 30px;
}

.p-l-xl {
  padding-left: 40px;
}


.p-l-n-xxs {
  padding-left: -1px;
}

.p-l-n-xs {
  padding-left: -5px;
}

.p-l-n-sm {
  padding-left: -10px;
}

.p-l-n {
  padding-left: -15px;
}

.p-l-n-md {
  padding-left: -20px;
}

.p-l-n-lg {
  padding-left: -30px;
}

.p-l-n-xl {
  padding-left: -40px;
}


.p-t-none {
  padding-top: 0;
}

.p-t-xxs {
  padding-top: 1px;
}

.p-t-xs {
  padding-top: 5px;
}

.p-t-sm {
  padding-top: 10px;
}

.p-t {
  padding-top: 15px;
}

.p-t-md {
  padding-top: 20px;
}

.p-t-lg {
  padding-top: 30px;
}

.p-t-xl {
  padding-top: 40px;
}


.p-t-n-xxs {
  padding-top: -1px;
}

.p-t-n-xs {
  padding-top: -5px;
}

.p-t-n-sm {
  padding-top: -10px;
}

.p-t-n {
  padding-top: -15px;
}

.p-t-n-md {
  padding-top: -20px;
}

.p-t-n-lg {
  padding-top: -30px;
}

.p-t-n-xl {
  padding-top: -40px;
}


.p-r-none {
  padding-right: 0;
}

.p-r-xxs {
  padding-right: 1px;
}

.p-r-xs {
  padding-right: 5px;
}

.p-r-sm {
  padding-right: 10px;
}

.p-r {
  padding-right: 15px;
}

.p-r-md {
  padding-right: 20px;
}

.p-r-lg {
  padding-right: 30px;
}

.p-r-xl {
  padding-right: 40px;
}


.p-r-n-xxs {
  padding-right: -1px;
}

.p-r-n-xs {
  padding-right: -5px;
}

.p-r-n-sm {
  padding-right: -10px;
}

.p-r-n {
  padding-right: -15px;
}

.p-r-n-md {
  padding-right: -20px;
}

.p-r-n-lg {
  padding-right: -30px;
}

.p-r-n-xl {
  padding-right: -40px;
}


.p-b-none {
  padding-bottom: 0;
}

.p-b-xxs {
  padding-bottom: 1px;
}

.p-b-xs {
  padding-bottom: 5px;
}

.p-b-sm {
  padding-bottom: 10px;
}

.p-b {
  padding-bottom: 15px;
}

.p-b-md {
  padding-bottom: 20px;
}

.p-b-lg {
  padding-bottom: 30px;
}

.p-b-xl {
  padding-bottom: 40px;
}


.p-b-n-xxs {
  padding-bottom: -1px;
}

.p-b-n-xs {
  padding-bottom: -5px;
}

.p-b-n-sm {
  padding-bottom: -10px;
}

.p-b-n {
  padding-bottom: -15px;
}

.p-b-n-md {
  padding-bottom: -20px;
}

.p-b-n-lg {
  padding-bottom: -30px;
}

.p-b-n-xl {
  padding-bottom: -40px;
}
