body {
  overflow: hidden;
  overflow-y: auto;
  background-color: lighten($color-whisper, 5);
  color: $color-mine-shaft;
  &.body--noScroll {
    overflow: hidden;
  }
}

.container {
  max-width: $max-width-container;
}

section.section + section.section {
  margin: 2rem auto 0 auto;
}
